---
language: ruby
bundler_args: --without system_tests
before_install: rm Gemfile.lock || true
script: "bundle exec rake validate lint spec SPEC_OPTS='--format documentation'"
matrix:
  fast_finish: true
  include:
  - rvm: 2.2.5
    env: PUPPET_GEM_VERSION="~> 4.0"
  - rvm: 2.3
    env: PUPPET_GEM_VERSION="~> 4.0"
notifications:
  email: false
