##############################################################
# WARNING - WARNING - WARNING
# This file is managed by the archlinux_workstation
#  puppet module. Any local changes made here will be 
#  overwritten on the next Puppet run. Please change the
#  file in the puppet module for persistent changes.
##############################################################

[Unit]
Description=Create directories under /tmp tmpfs.
Requires=tmp.mount
After=tmp.mount
Type=oneshot
RemainAfterExit=yes

[Service]
ExecStart=/usr/local/bin/maketmpdirs.sh

[Install]
WantedBy=multi-user.target 
